<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> </title>
 <% include partials-grua/head %>
</head>
<% include partials-grua/navigation%>
<style>
  body{
    font-family: 'Source Serif Pro', serif;
    }
</style>
<body>
 <% include partials-grua/form %>

  <script>
    alert('El servicio fue solicitado exitosamente');
   </script>
</body>

</html>