<!doctype html>
<html>
  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RedAsegura</title>
        <link rel="stylesheet" href="/css/main.css">
 
    </head>
    <body>
        <div id=wrapper>
            <logo>
                <h1>RedAsegura</h1>
            </logo>
            <article class="login">
                <h1>Ingresar</h1>
                <br>
                <form class="" method="POST" action="/login">
                    <h2>    Correo</h2>
                    <input name="correo" class="inp" type="email" value="">
                    <h2>    Clave</h2>
                    <input name="clave" class="inp" type="password" value="">
                    <br>
                    <div class="cenbutton">
                        <input class="boton" name="inicio" type="submit" value="Ingresar">
                    </div>
                </form>
            </article>
        </div>
    </body>
    
</html>