<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RedAsegura</title>
        <link rel="stylesheet" href="/css/menu.css">
    </head>
    
    <body>
        <div id="title">
            <h1>RedAsegura</h1>
        </div>
        <div id="wrapper">
            <div id="franja">
                <ul>
                    <li><a href=""><br>Perfil</a></li>
                    <li><a href=""><br>Solicitar</a></li>
                    <li><a href=""><br>Calcular</a></li>
                    <li><a href=""><br>Financiamientos</a></li>
                </ul>
            </div>
            <br>
            <div id="franja">
                <ul>
                    <li><a href="/grua"><br>Gruas</a></li>
                    <li><a href="/reporte"><br>Reportar<br>Siniestro</a></li>
                    <li><a href=""><br>Atencion al<br>Cliente</a></li>
                </ul>
            </div>
        </div>
    </body>
    
</html>