<form>
        <div class="container">
          <div class="form-group">
            <label for="exampleInputUbication">Ubication address</label>
            <input type="ubucation" class="form-control" id="exampleInputubication1" aria-describedby="ubicationHelp"
              placeholder="Enter ubication">
            <small id="emailHelp" class="form-text text-muted">We'll never share your ubication with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="examplecranetype1">Crane type</label>
            <input type="Crane type" class="form-control" id="examplecranetype1" placeholder="Crane type">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>